.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.local
.env.*.local
.vercel
.firebase
.firebaserc
firebase-debug.log
firestore-debug.log
ui-debug.log
*.log
dist
.cache
coverage
test-results
playwright-report
.vitest

